
.tipo1 { background: url("images/cards/fantasia/1-rato.jpg"); }
.tipo2 { background: url("images/cards/1-rato.jpg"); }
.tipo3 { background: url("images/cards/1-rato.jpg"); }
.tipo4 { background: url("images/cards/1-rato.jpg"); }
.tipo5 { background: url("images/cards/1-rato.jpg"); }
.tipo6 { background: url("images/cards/1-rato.jpg"); }