/* Estilo para o GIF de confete */
  #confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/images/confetti.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000; /* Garantir que o confete fique no topo */
    pointer-events: none; /* Permite a interação com os botões abaixo */
  }
  
  /* Estilo da página do vencedor */
  #vencedor .container-fluid {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/images/fundovencedor2.png'); /* Caminho do fundo */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; /* Certifique-se de que o fundo fique abaixo do confete */
  }
  
  /* Estilos de texto */
  #vencedor h1 {
    font-size: 100px;
    color: #0046e6;
    margin: 0;
    padding: 0;
  }
  #vencedor p {
    font-size: 25px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  /* Botões */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 80px; /* Espaçamento entre os botões */
  }
  
  .button {
  display: inline-block;
  background: orange;
  padding: 20px 35px;
  color: white;
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  font-size: 20px;
  width: 200px;
  text-align: center;
  transition: background 0.3s;
  }

  .button:hover {
  background: orangered;
  cursor: pointer;
  }
  