#vencedor .container-fluid {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/images/fundovencedor.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}

#vencedor h1 {
    font-size: 100px;
    color: #0046e6;
    margin: 0;
    padding: 0;
}

#vencedor p {
    font-size: 25px;
    color: #ff6c42;
    margin-top: 10px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espaçamento entre os botões */
}

.button {
    background-color: #0046e6;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #003bb5;
}
