#topo{
    position: fixed;
    width: 100%;
}

#regras section {
    border: none;
    margin-bottom: 0px;
    padding: 0%;
}

#regras .divisor {
    width: 20%;
    height: 90%;
}

#regras .container-fluid {
    color: rgb(0, 0, 0);/*texto*/
    font-size: 24px;
    text-align: center;
    margin-top: 2%;
    overflow-y: auto;  /* Adiciona rolagem vertical se o conteúdo for maior que o container */
    max-height: 100vh;  /* Limita a altura ao tamanho da viewport */
    padding: 20px;
    box-sizing: border-box;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 50px;
}
img{
    height: 60px;
}

img#cartas{
    width: 80%;
    height: auto;
}
