#topo{
    position: fixed;
    width: 100%;
}

#regras section {
    border: none;
    margin-bottom: 0px;
    padding: 0%;
  }

  #regras .content {
    height: 570px; /* Conteúdo maior do que a altura da div */
}

#regras .divisor {
    width: 20%;
    height: 90%;
}

#regras .container-fluid {
    color: white;
    font-size: 24px;
    text-align: center;
  }

#regras .container-fluid {
    overflow-y: auto;  /* Adiciona rolagem vertical se o conteúdo for maior que o container */
    max-height: 100vh;  /* Limita a altura ao tamanho da viewport */
    padding: 20px;
    box-sizing: border-box;
    height: 85vh;
}