body {
    font-family: Arial, sans-serif;
    background-image: url(../../../public/images/bordaMata.png);
    padding: 20px;
    font-weight: bold;
}

body h1{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Matemasie", sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    margin-bottom: 10px;
}

#topo{
    position: fixed;
    width: 100%;
}

body .container h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Matemasie", sans-serif;
    font-weight: bold;
    color: #0a300a;
    background-color: transparent;
}

.scroll-container {
    width: auto;
    height: 570px;
    padding: 10px;
    overflow-y: scroll; /* Ativa a barra de rolagem vertical */
    background-image: url("../../../public/images/fundoRegras.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    margin-right: 35px;
}

section {
    border: none;
    margin-bottom: 0px;
    padding: 0%;
  }

.content {
    height: 570px; /* Conteúdo maior do que a altura da div */
}

img{
    width: 20%;
    height: 90%;
}

#regras {
    color: rgb(9, 54, 22);
    font-size: 24px;
    text-align: center;
  }
