@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(../../../public/images/natureza.png); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-attachment: fixed; /* Faz a imagem ficar fixa */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    background: none; 
    justify-content: center;
    align-items: center;
}
.logo{
    flex:20%;
    margin-left: 0%;
    /*border: 1px solid red;*/
    text-align: center;
}
.logo h1{
    font-family: "Matemasie", sans-serif;
    color: white;
    font-size: 70px;
}

.botao{
    display: block;
    background: orange;
    padding: 20px 35px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 10%;
    text-decoration: none;
}

.botaoRodape {
    display: block;
    background: orange;
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover, .botaoRodape:hover{
    border: none;
    background: orangered;
    cursor: pointer;
}
header{
    display: flex;
    flex-flow: row wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    background: none;
}
.headline h2{
    font-weight: 900;
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
}
.headline p{
    color: #ffffff;
    text-align: left;
    font-size: 35px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /*border: 1px solid black*/
}
.imgheadline{
    display: inline;
    margin-right: 10%;
    flex: 40%;
    text-align: center;
    padding: 5%;
    
}
section{
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    width: 90%;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Matemasie", sans-serif;
    font-weight: bold;
    color: #180f4a;
    /*text-align: center;
    padding: 5%;*/
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    color: white;
    background: #ff2978;
}